@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&family=Open+Sans&display=swap");
@import "reset.css";
@import "variables.css";
/*요소*/
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
/*스크린*/
@import "screens/friends.css";
@import "screens/login.css";

body {
  font-family: "Noto Sans KR", sans-serif;
  font-family: "Open Sans", sans-serif;
  color: #2e3632;
}

.main-screen {
  padding: 0px var(--horizontal--space);
}
