.nav {
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  /*박스 사이즈 변경 x*/
  width: 100%;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
}
.nav_list {
  display: flex;
  justify-content: space-between;
}

.nav_link {
  position: relative;
}

@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateY(180deg);
  }
  100% {
    transform: none;
  }
}

.nav_notification {
  position: absolute;
  /*absolute는 가장 가까운 relative를 따라서 움직임
    그래서 nav_link에 relative를 넣어주는것임
  */
  left: 15px;
  bottom: 15px;
  animation: notificationAnimation 2s ease-in-out infinite;
}

.nav_elnotification {
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  display: flex;
  position: absolute;
  left: 30px;
}

@keyframes appearBtnAnimation {
  from {
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.nav_btn {
  transform: translateY(50px);
  opacity: 0;
  animation: appearBtnAnimation 1s ease-in-out forwards;
}

.nav_btn:nth-child(2) {
  animation-delay: 0.5s;
}
.nav_btn:nth-child(3) {
  animation-delay: 1s;
}
.nav_btn:last-child {
  animation-delay: 1.5s;
}
